<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pooja S | Portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!-- Navbar -->
  <header class="navbar">
    <div class="logo"><a href="/">Pooja S</a></div>
    <nav>
    <a href="#education">Education</a>
    <a href="#about-me">Profile</a>
    <a href="#skills">Skills</a>
    <a href="#projects">Projects</a>
    <a href="#certificates">Certificates</a>
    <a href="#contact">Contact</a>
    </nav>

  </header>
  <!-- Page Content -->
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
